:root {
  --main-background: #020035;
  --header-text-color: #ffffff;
  --footer-background: #300050;
  --footer-hover-color: #880088;
  --footer-text-color: #ffffff;
  --nav-link-color: #ffffff;
  --nav-link-hover-color: #ffcc00;
  --nav-link-hover-bg: #300050;
  --contact-button-color: #ff8000;
  --contact-form-bg: #300050;
  --contact-form-heading: #ffffff;
  --contact-form-label-text: #cccccc;
  --contact-form-input-border: #ffffff;
  --contact-form-button-bg: #ffcc00;
  --form-button-text: #020035;
  --form-button-hover: #ff8000;
  --card-background: #2b2b5a;
  --card-title-color: #ffffff;
  --card-link-color: #ffcc00;
  --card-link-hover-color: #ffffff;
  --pages-heading-text: #ffcc00;
  --pages-paragraph-text: #ffffff;
  --pages-background: #020035;
  --portfolio-card-bg: #2b2b5a;
  --portfolio-card-hover-bg: #ff8000;
}
/* Body Container */
body {
  margin: 3px;
  padding-bottom: 70px;
  background-color: var(--main-background);
}
/* Header */
header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 40vh;
  color: #eee;
}

.header h1 {
  font-size: 4rem;
  margin: 2%;
  padding: 20px;
  color: var(--header-text-color);
  transform-origin: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.header-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.12) 40%,
    rgba(27, 32, 48, 1) 100%
  );
}

.header-image::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  backface-visibility: hidden;
  background-image: url("/northernLights.jpg");
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
  animation: slideBackground 80s linear infinite;
  z-index: -10;
}

@keyframes slideBackground {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 220%;
  }
}

@keyframes zoom {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
/* Navigation */
.nav-tabs {
  padding: 10px;
  border-bottom: 2px solid var(--footer-background);
  margin-top: 20px;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: var(--nav-link-color);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
}

.nav-link:hover,
.nav-link.active {
  color: var(--nav-link-hover-color);
  background-color: var(--nav-link-hover-bg);
  text-decoration: none;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--footer-background);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--footer-text-color);
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  z-index: 999;
}

.footer-icons a {
  font-size: 24px;
  margin: 0 10px;
  color: #333;
  z-index: 999;
}

.footer-icons a:hover {
  transform: translateY(-10px);
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ecf0f1;
  font-size: 24px;
  transition: color 0.3s ease;
  z-index: 999;
}

/* About Me */
.profile-image {
  width: 410px;
  height: 330px;
}

.about-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: var(--pages-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 30%;
  margin-right: 20px;
}

.profile-image img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.about-text {
  flex: 1;
}

.about-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--pages-heading-text);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about-text p {
  font-size: 1.1rem;
  color: var(--pages-paragraph-text);
  text-align: justify;
}
/* Contact */
.contact-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--pages-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container h1 {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: var(--pages-heading-text);
}

.contact-container label {
  display: block;
  margin-bottom: 5px;
  color: var(--pages-paragraph-text);
}

.contact-container input[type="text"],
.contact-container input[type="email"],
.contact-container textarea {
  width: 30vw;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--contact-form-input-border);
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
  color: black;
}

.contact-container textarea {
  width: 30vw;
  min-height: 50%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--contact-form-input-border);
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
  color: black;
}

.contact-container button[type="submit"] {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffcc00;
  color: var(--form-button-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #ff8000;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}

.submission-message {
  color: white;
  font-size: 0.9em;
  margin-top: 5px;
}

/* Portfolio*/
.portfolioContainer {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--pages-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolioHeading {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--pages-heading-text);
}

.portfolioGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.portfolioCard {
  width: 70%;
  background-color: var(--portfolio-card-bg);
}
.portfolioCard:hover {
  transform: translateY(-10px);
}

.portfolioCardImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.portfolioCardTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--card-title-color);
}

.portfolioCardLink {
  color: var(--card-link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.portfolioCardLink:hover {
  color: var(--card-link-hover-color);
}

.cardContainer {
  width: 20vw;
  margin-left: 2%;
}

/* Resume */
.resume-container {
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--pages-background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resume-container h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem;
  color: var(--pages-heading-text);
}

.resume-container li {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: var(--pages-paragraph-text);
  text-align: justify;
}

.resume-download-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffcc00;
  color: var(--form-button-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.resume-download-btn:hover {
  background-color: #ff8000;

  .skills-container {
    display: flex;
    justify-content: space-between;
  }

  .skills-section {
    flex: 1;
    margin-right: 20px;
  }

  .skills-section li {
    flex: 1;
    font-size: 1.1 rem;
    color: var(--pages-paragraph-text);
    text-align: justify;
  }

  .skills-section h2 {
    flex: 1;
    margin-right: 20px;
    font-size: 1.7rem;
    color: var(--pages-paragraph-text);
    text-align: justify;
  }

  .skills-section:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 768px) {
    .portfolio-card {
      width: calc(50% - 20px);
    }
  }
}
